/* Menu Animation */
menu#menu {
  transition: all 300ms;
}

.menu_anim {
margin-left: 0rem;
}

/* Button Animation */
div#menu_button {
  transition: all 300ms;
}

div#menu_button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 1);
}

div.button_anim {
  margin-left: 14rem;
}

/* Button Symbol Animation */
div#menu_button_sym,
div#menu_button_sym::before,
div#menu_button_sym::after {
  transition: all 800ms;
}

@keyframes fade_in_anim {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fade_in_anim {
  animation: fade_in_anim;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}

.menu_button_sym_anim {
  transform: rotate(-45deg);
  width: 33px;
}

.menu_button_sym_anim::before {
  transform: rotate(90deg);
  width: 17px;
  top: 9px;
  left: 8px;
}

.menu_button_sym_anim::after {
  transform: rotate(90deg);
  width: 17px;
  bottom: 9px;
  left: 8px;
}
