*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
 }

 html {
   height:100%;
 }

 body {
   min-height:100%;
   padding:0;
   margin:0;
   position:relative;
 }

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  box-shadow: 0 0 3px 0 black;
  z-index: 2;
}

div.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
}

div.logo {
  margin-bottom: -4px;
}

div.logo svg {
  width: 6rem;
  height: auto;
}

div.nav ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
}

div.nav ul li a{
  color: black;
  font-size: 1.3rem;
  font-family: 'Oxygen Mono', monospace;
  border-bottom: 0px solid rgb(54, 188, 255);
  transition: border-bottom 100ms;
  cursor: pointer;
}

div.nav ul li a:hover {
  border-bottom: 4px solid rgb(54, 188, 255);
}

/* Menu */

menu {
  position: absolute;
  height: calc(100% - 5rem);
  width: 20rem;
  margin-top: 5rem;
  box-shadow: 0 0 3px 0 black;
  z-index: 1;
  margin-left: -20rem;
  overflow: auto;
  scrollbar-color: rgb(240, 240, 240);
  scrollbar-width: thin;
}

div.menu_button {
  position: absolute;
  margin-top: 6rem;
  margin-left: -0.8rem;
  padding: 22px 8px 22px 8px;
  border: 0px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  z-index: 3;
}

menu div span {
  display: block;
  font-size: 2rem;
  color: rgb(220, 220, 220);
  font-style: italic;
  text-decoration: underline;
  margin: 1rem 0 0.6rem 1rem;
}

div.menu_space {
  width: 100%;
  margin: auto;
}

div.menu_space ul{
  list-style: none;
}

div.menu_space ul li a {
  display: block;
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  line-height: 2rem;
  color: black;
  cursor: pointer;
  overflow: hidden;
}

div.menu_space ul li:hover {
  background: rgb(240, 240, 240);
}

ul#side_menu {
  padding-left: 1rem;
}

ul.main_list li {
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  line-height: 2rem;
}

ul.sub_menu  li {
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  line-height: 2em;
}

li ul.sub_menu {
  padding-left: 1rem;
  border-left: 2px solid rgb(240, 240, 240);
}

li > ul.sub_menu li a {
  font-size: 1rem;
  line-height: 2rem;
}

li:hover ul.sub_menu {
  background: white;
}

/* Content part */

div.container {
  padding-top: 5rem;
  min-height: 100%;
}

div.center {
  display: flex;
  justify-content: center;
  min-height: 100%;
}

div.splash {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#splash_name {
  color: white;
  font-size: 3.5rem;
  font-weight: normal;
  text-align: right;
}

div.content {
  height: 100%;
  background: white;
  padding: 0rem 1rem 1rem 1rem;
  min-height: 100%;
}

div.content > h1 {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  line-height: 4rem;
}

div.img_box {
  display: flex;
  align-items: center;
  width: 100%;
}

div.img_box > p {
  display: inline-block;
  width: 70%
}

div.img_box > img {
  width: 30%;
  height: auto;
}

body::after {
  content: '';
  display: block;
  height: 5rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background: rgb(54, 188, 255);
  text-align: center;
}

footer p {
  color: white;
  font-size: 0.9rem;
}

footer p a {
  color: black;
  background: white;
  border-radius: 5px;
  padding: 0 2px 0 2px;
}
