/* Desktop */
@media only screen and (min-width: 1200px) {
  div.nav {
    width: 70%;
  }

  div.logo {
    margin-right: 10%;
  }

  div.splash,
  div.content {
    width: 70%;
  }

  div.splash {
    height: 28rem;
  }

  #gym_mw_svg svg {
    width: 40rem;
    height: auto;
    margin: 0 0 0 -4px;
  }
}

/* Small notebook */
@media only screen and (max-width: 1200px) {
  div.nav {
    width: 80%;
  }

  div.logo {
    margin-right: 5%;
  }

  div.splash,
  div.content {
    width: 80%;
  }
  
  div.splash {
    height: 22rem;
  }

  #gym_mw_svg svg {
    width: 32rem;
    height: auto;
    margin: 0 0 0 -4px;
  }
}
