nav, menu {
  background: white;
}

#gym_mw_style {
  stroke: white;
  stroke-width: 0.5px;
}

.light_blue {
  background: rgb(54, 188, 255);
}

.hide {
  display: none;
}

.menu_button_sym {
  position: relative;
  padding: 0;
  width: 32px;
  height: 4px;
  text-align: center;
  background: black;
  opacity: 1;
}

.menu_button_sym::before {
  content: "";
  position: absolute;
  padding: 0;
  height: 4px;
  top: 10px;
  width: 28px;
  left: 2px;
  background: black;
}

.menu_button_sym::after {
  content: "";
  padding: 0;
  position: absolute;
  height: 4px;
  bottom: 10px;
  width: 28px;
  left: 2px;
  background: black;
}
