<h1>Geschichte des Gymnasiums</h1>
<p>
  Auf eine bereits sechshundertjährige Geschichte konnte die Stadt Mittweida im Jahre 1908 verweisen, als am 28.
  April das neu erbaute Schulgebäude am Schwanenteich eingeweiht wurde.
  Der Umzug der schon 1869 gegründeten Realschule wurde durch den industriellen Aufschwung und das damit verbundenene Bevölkerungswachstum notwendig.
  Doch bis zum Jahre 1916 war die Einrichtung ausschließlich Jungen vorbehalten. Erst zwölf Jahre später, im Jahre 1928, galt es,
  der gestiegenen Schülerzahl durch einen ersten Anbau Rechnung zu tragen.
</p>
<p>
  Nachdem das Gebäude sowie die Realschule die Zeit des Kaiserreiches und der Weimarer Republik ohne große Veränderungen erlebt hatten,
  änderte sich mit der Machtergreifung der Nationalsozialisten im Januar 1933 nicht nur der Geist der Schule. Noch im selben Jahr, am 20.
  April, wurde die Einrichtung in "Adolf-Hitler-Schule" umbenannt. Mit der Verlagerung des Krieges nach Deutschland musste in der Schule der Schichtbetrieb eingeführt werden,
  da man sich die Gegebenheiten mit Bremer Schülern teilen musste. Anschließend wurden in dem Gebäude eine Notunterkunft und ein Krankenhaus eingerichtet.
</p>
<div class="img_box">
  <p>
    Erst im Jahre 1949 konnten Schüler und Lehrer die Einrichtung in der Nähe der Schwanenteichanlagen wieder in Besitz nehmen.
    Der Sozialismus brachte den Schülern dann neben Arbeitseinsätzen einen neuen Namen für ihr Lehrhaus: Oberschule "Erich Weinert".
    Im Jahre 1960 wiederum wurde die Schule in eine Erweiterte Oberschule (EOS) umgewandelt,
    bevor die Abiturausbildung im Jahre 1982 eingestellt wurde und die Polytechnische Oberschule das Gebäude besetzte.
  </p>
  <img src="/gym-mw//images/schule/geschichte/EOS_1968.jpg" alt="EOS 1968">
</div>
<div class="img_box">
  <p>
    Nach nur 10 Jahren, am 29. August 1992, kam es dann infolge der Wiedervereinigung zur Einweihung des Städtischen Gymnasiums Mittweida.
    Ein Jahr später konnte ein weiterer Anbau an die Lehrkräfte und ihre Lehrlinge übergeben werden.
    Seitdem lernen Jahr für Jahr rund 640 Schüler dafür, ihrem Ziel, dem Ablegen des Abiturzeugnisses, näher zu kommen bzw. dieses zu erreichen.
  </p>
  <img src="/gym-mw/images/schule/geschichte/GymAlt.jpg" alt="Gymnasium Mittweida">
</div>
<div class="img_box">
  <p>
    2010 begann die Sanierung des Gymnasiums. Dazu wurde als erstes der Altbau gesperrt und die Schüler der fünften und sechsten Klassen mussten in die Bernhard-Schmidt-Schule
    umziehen. Als der Altbau renoviert war, konnten die Schüler wieder dorthin zurückkehren und die zweite und dritte Etage des Neubaus wurde gesperrt. Als diese fertig waren,
    wurden die untersten beiden Etagen gesperrt und saniert. Die Schule bekam auch einen neuen Anbau, in den die Kantine und die Bibliothek zogen.
    Außerdem wurde die alte Turnhalle saniert. Im Zuge dieser Sanierungsmaßnahmen bekam die Schule außerdem ein neues Computerkabinett.
  </p>
  <img src="/gym-mw/images/schule/geschichte/GymNeu.png" alt="Gymnasium Mittweida saniert">
</div>
